= render 'infomations/top_bar'
.wrapper
  = line_chart @cost_data, width: "800px", height: "500px"
  = line_chart @avcost_data, width: "800px", height: "500px"
= link_to car_path(@car) ,class: "btn btn-graph" do
  %span.btn--text 履歴
= render 'infomations/foot_bar'