= render 'infomations/top_bar'
.graph
  .graph-avrage
    燃費の推移
    = line_chart @fe_data, width: "1200px", height: "500px"
  .graph-avrage
    燃料単価の推移
    = line_chart @avcost_data, width: "1200px", height: "500px"
= link_to car_path(@car) ,class: "btn btn-graph" do
  %span.btn--text 履歴
= render 'infomations/foot_bar'