.SettingGroupForm
  %h1 油種登録
  = form_with model: [@fuelname], local: true do |f|
    - if @fuelname.errors.any?
      .SettingGroupForm__errors
        %h2= "#{@fuelname.errors.full_messages.count}件のエラーが発生しました。"
        %ul
          - @fuelname.errors.full_messages.each do |message|
            %li= message
    .SettingGroupForm__field
      .SettingGroupForm__leftField
        %label.SettingGroupForm__label 油種名:
      .SettingGroupForm__rightField
        = f.text_field :fuelname, class: 'SettingGroupForm__input', placeholder: '油種名を入力'
    .SettingGroupForm__field
      .SettingGroupForm__leftField
      .SettingGroupForm__rightField
        = f.submit class: 'SettingGroupForm__button'