= form_with model: [@car, @infomation], local: true do |f|
  - if @infomation.errors.any?
    .SettingGroupForm__errors
      %h2= "#{@infomation.errors.full_messages.count}件のエラーが発生しました。"
      %ul
        - @infomation.errors.full_messages.each do |message|
          %li= message
  .SettingGroupForm__field
    .SettingGroupForm__leftField
      %label.SettingGroupForm__label 給油日:
    .SettingGroupForm__rightField
      = f.text_field :refuelday, class: 'SettingGroupForm__input', placeholder: 'yyyy/m/dで入力してください'
  .SettingGroupForm__field
    .SettingGroupForm__leftField
      %label.SettingGroupForm__label 給油量:
    .SettingGroupForm__rightField
      = f.text_field :refuel, class: 'SettingGroupForm__input', placeholder: '少数点第一位まで入力してください'
  -# .SettingGroupForm__field
  -#   .SettingGroupForm__leftField
  -#     %label.SettingGroupForm__label 総走行距離（ODO）：
  -#   .SettingGroupForm__rightField
  -#     = f.text_field :ODO, class: "SettingGroupForm__input", placeholder: "総走行距離（ODO）を入力してください。"
  .SettingGroupForm__field
    .SettingGroupForm__leftField
      %label.SettingGroupForm__label 走行距離（TRIP）：
    .SettingGroupForm__rightField
      = f.text_field :trip, class: "SettingGroupForm__input", placeholder: "走行距離（TRIP）を少数点第一位まで入力してください。"
  .SettingGroupForm__field
    .SettingGroupForm__leftField
      %label.SettingGroupForm__label 金額：
    .SettingGroupForm__rightField
      = f.text_field :cost, class: "SettingGroupForm__input", placeholder: "金額を入力してください。"
  .SettingGroupForm__field
    .SettingGroupForm__leftField
      %label.SettingGroupForm__label 油種：
    .SettingGroupForm__rightFieldbox
      .SettingGroupForm__rightFieldbox--p
        = f.collection_select :fueltype_id, Fueltype.all, :id, :name , include_blank: "選択して下さい"
  .SettingGroupForm__field
    .SettingGroupForm__leftField
    .SettingGroupForm__rightField
      = f.submit class: 'SettingGroupForm__button'