.maininfo
  .maininfo--scroll
    .maininfo--scroll__obj 車両名：
    .maininfo--scroll__name 
      = @car.car_name
  - @car.infomations.each do |inf|
    .maininfo--scroll
      .maininfo--scroll__obj 給油日:
      .maininfo--scroll__day
        = inf.refuelday
    .maininfo--scroll
      .maininfo--scroll__obj 走行距離(TRIP):
      .maininfo--scroll__TRIP
        = inf.trip
    .maininfo--scroll
      .maininfo--scroll__obj 給油量:
      .maininfo--scroll__totalrefuel
        = inf.refuel
    .maininfo--scroll
      .maininfo--scroll__obj 給油費:
      .maininfo--scroll__totalFuelfee
        = inf.cost
    .maininfo--scroll
      .maininfo--scroll__obj 油種：
      .maininfo--scroll__Fueltype
        = Fueltype.find(inf.fueltype_id).name
        