- range = 0
- sum_refuel = 0
- sum_cost = 0
- @infomations.each do |inf|
  - range += inf.trip
  - sum_refuel += inf.refuel
  - sum_cost += inf.cost
- sum_range = range + @car.first_range
- average_FE = range / sum_refuel
- average_cost = sum_cost / sum_refuel
.maininfo
  .maininfo--scroll
    .maininfo--scroll__obj.topn 車両名:
    .maininfo--scroll__name 
      = @car.car_name
  .maininfo--scroll
    .maininfo--scroll__obj 給油日:
    .maininfo--scroll__inf
      = @infomations.last.refuelday.strftime("%Y年%m月%d日")
  .maininfo--scroll
    .maininfo--scroll__obj 走行距離(TRIP):
    .maininfo--scroll__inf
      = @infomations.last.trip
      km
  .maininfo--scroll
    .maininfo--scroll__obj 給油量:
    .maininfo--scroll__inf
      = @infomations.last.refuel
      L
  .maininfo--scroll
    .maininfo--scroll__obj 給油費:
    .maininfo--scroll__inf
      = @infomations.last.cost.round(0)
      円
  .maininfo--scroll
    .maininfo--scroll__obj 油種:
    .maininfo--scroll__inf
      = Fueltype.find(@infomations.last.fueltype_id).name  
  .maininfo--scroll
    .maininfo--scroll__obj 総走行距離:
    .maininfo--scroll__inf
      #{sum_range.round(1)} km
  .maininfo--scroll
    .maininfo--scroll__obj 平均単価:
    .maininfo--scroll__inf
      #{average_cost.round(0)} 円/L
  .maininfo--scroll
    .maininfo--scroll__obj 平均燃費:
    .maininfo--scroll__inf
      #{average_FE.round(1)} km/L
  .maininfo--scroll
    .maininfo--scroll__obj  最高燃費:
    .maininfo--scroll__inf
      = @fuel_economy.max.round(1)
      km/L
  .maininfo--scroll
    .maininfo--scroll__obj  最低燃費:
    .maininfo--scroll__inf
      = @fuel_economy.min.round(1)
      km/L