.top
  .top-app
    = link_to root_path ,class: "top-app_name" do
      燃費計算
  .top-user
    .top-user_name
      = current_user.name
  .top-edit
    = link_to edit_user_path(current_user),class: "top-edit__btn" do
      = icon('fas', 'cog', class: "top-edit__btn-icon e")
    = link_to new_car_path,  class:  "top-edit__btn" do
      = icon('fas', 'edit', class: "top-edit__btn-icon")