%body
  .top
    .top-app_name 燃費計算
    .top-user
      .top-user_name
        = current_user.name
      .top-car_name Z250SL
    .top-edit
      = link_to edit_user_path(current_user),class: "top-edit__btn" do
        = icon('fas', 'cog', class: "top-edit__btn-icon e")
      = link_to new_car_path,  class:  "top-edit__btn" do
        = icon('fas', 'edit', class: "top-edit__btn-icon")
  .wrapper
    = render "left_bar"    
    = render "right_bar"    
  .footer
    .btn
      = link_to "#" ,class: "btn--link rireki" do
        履歴
    .btn
      = link_to "#" ,class: "btn--link graf" do
        グラフ
    .btn
      = link_to "#" ,class: "btn--link di" do
        詳細
    .btn
      = link_to "#" ,class: "btn--link input" do
        入力
