= form_with model: car, local: true do |f|
  - if car.errors.any?
    .SettingGroupForm__errors
      %h2= "#{car.errors.full_messages.count}件のエラーが発生しました。"
      %ul
        - car.errors.full_messages.each do |message|
          %li= message
  .SettingGroupForm__field
    .SettingGroupForm__leftField
      = f.label :car_name, "車両名：", class: 'SettingGroupForm__label'
    .SettingGroupForm__rightField
      = f.text_field :car_name, class: 'SettingGroupForm__input', placeholder: '車両名を入力してください'
  .SettingGroupForm__field
    .SettingGroupForm__leftField
      %label.SettingGroupForm__label 初期走行距離：
    .SettingGroupForm__rightField
      / グループ作成機能の追加時はここにcollection_check_boxesの記述を入れてください
      = f.text_field :first_range, class: "SettingGroupForm__input", placeholder: "初期走行距離を入力してください。"
      / この部分はインクリメンタルサーチ（ユーザー追加の非同期化のときに使用します
  .SettingGroupForm__field
    .SettingGroupForm__leftField
      %label.SettingGroupForm__label 画像の添付：
    .SettingGroupForm__rightField
      = f.label :image, class: 'Form__inputImage' do
        = icon('far', 'image', class: 'Form__icon')
        = f.file_field :image, class: 'Hidden'
  .SettingGroupForm__field
    .SettingGroupForm__leftField
    .SettingGroupForm__rightField
      = f.submit class: 'SettingGroupForm__button'