= render 'infomations/top_bar'
.wrapper
  = render 'infomations/left_bar'
  .maininfo
    .maininfo--scroll
      .maininfo--scroll__obj.topn 車両名:
      .maininfo--scroll__name 
        = @car.car_name
    - @car.infomations.order("refuelday DESC").each do |inf|
      .maininfo--scroll
        .maininfo--scroll__obj 給油日:
        .maininfo--scroll__inf
          = inf.refuelday.strftime("%Y年%m月%d日")
      .maininfo--scroll
        .maininfo--scroll__obj 走行距離(TRIP):
        .maininfo--scroll__inf
          = inf.trip
          km
      .maininfo--scroll
        .maininfo--scroll__obj 給油量:
        .maininfo--scroll__inf
          = inf.refuel
          L
      .maininfo--scroll
        .maininfo--scroll__obj 給油費:
        .maininfo--scroll__inf
          = inf.cost.round(0)
          円
      .maininfo--scroll
        .maininfo--scroll__obj 油種:
        .maininfo--scroll__inf
          = Fueltype.find(inf.fueltype_id).name
      - refuel = inf.refuel
      - range = inf.trip
      - cost = inf.cost
      .maininfo--scroll
        .maininfo--scroll__obj 燃費:
        .maininfo--scroll__inf
          - average_FE = range / refuel
          #{average_FE.round(1)} km/L
      .maininfo--scroll
        .maininfo--scroll__obj 燃料単価:
        .maininfo--scroll__inf
          - average_cost = cost / refuel
          #{average_cost.round(0)} 円/L
      .maininfo--scroll.final
        = link_to edit_car_infomation_path(@car,inf) ,{class:"maininfo--scroll__edit"} do
          データ編集
= render 'infomations/foot_bar'